body {  
  background-color: #f9f9f952 !important;
  min-height: 100vh !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.responsiveImgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.responsiveImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.f-16 {
  font-size: 16px !important
}

.f-25 {
  font-size: 25px !important
}
